<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>New Advertisement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="false">
          <ng-template matStepLabel>Choose your car manufacturer</ng-template>
          <mat-form-field>
            <mat-select placeholder="Car manufacturer" [formControl]="manufacturerControl">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let manufacturer of manufacturersList  | async" [value]="manufacturer">
                {{manufacturer.manufacturerName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="manufacturerControl.hasError('required')">Please select a manufacturer</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext  *ngIf= "!manufacturerControl.hasError('required')" (click)="loadModels(manufacturerControl.value.manufacturerId, manufacturerControl.value.manufacturerName)">Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="false">
            <ng-template matStepLabel>Choose your car model</ng-template>
            <mat-form-field>
              <mat-select placeholder="Car model" [formControl]="modelControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let model of manufacturerModels  | async" [value]="model.carModelId">
                  {{model.carModelName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="modelControl.hasError('required')">Please select a model</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext *ngIf= "!modelControl.hasError('required')" (click)="loadEngines(modelControl.value)">Next</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Set your car engine specs</ng-template>
              <mat-form-field>
                <mat-select placeholder="Engines" [formControl]="enginesControl" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let engine of engines | async" [value]="engine.engineId">
                    {{engine | engineToString}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="enginesControl.hasError('required')">Please select an engine</mat-error>
              </mat-form-field>              
            <div>
              <button mat-button matStepperNext *ngIf="!enginesControl.hasError('required')"  (click)="loadTransmissions(enginesControl.value)">Next</button>
            </div>                       
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
          <ng-template matStepLabel>Choose your car transmission</ng-template>
            <mat-form-field>
              <mat-select placeholder="Transmissions" [formControl]="transmissionControl" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let transmission of transmissions | async" [value]="transmission.transmissionId">
                  {{transmission | transmissionToString}}
                </mat-option>
              </mat-select>                         
              <mat-error *ngIf="transmissionControl.hasError('required')">Please select a transmission</mat-error>
            </mat-form-field>                 
            <div>
              <button mat-button matStepperNext *ngIf="!transmissionControl.hasError('required')" (click)="loadCarDetails(transmissionControl.value)">Next</button>
            </div>
        </mat-step>

        <mat-step [stepControl]="fifthFormGroup">
            <ng-template matStepLabel>Set your car details</ng-template>
            <div [formGroup]="yearAndVinCodeGroupControl">       
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="productionYearControl">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="productionYearControl.hasError('required')">Please enter car production year</mat-error>
              </mat-form-field>             
              <mat-form-field class="margins">
                <input matInput placeholder="VIN code" formControlName="vinCodeControl" required>
              </mat-form-field>            
              <mat-error *ngIf="vinCodeControl.hasError('required')">Please enter VIN code</mat-error>
            </div>

            <div>
              <button mat-button matStepperNext *ngIf="!productionYearControl.hasError('required');" (click)="loadAdvertisementDetails(productionYearControl.value, vinCodeControl.value)">Next</button>
            </div>                       
        </mat-step>

        <mat-step [stepControl]="sixthFormGroup">
          <ng-template matStepLabel>Set price and description</ng-template>
          <div [formGroup]="descrAndPriceGroupControl">
            <div>
              <mat-form-field>
                <input matInput placeholder="Price" formControlName="priceControl" required>
              </mat-form-field>
              <mat-error *ngIf="priceControl.hasError('required')">Please enter price</mat-error>
            </div>
            <div>       
              <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="descriptionControl"></textarea>
              </mat-form-field>      
            </div>      
          </div>

          <div>
            <button mat-button matStepperNext *ngIf="!priceControl.hasError('required');" (click)="createAdvertisement(priceControl.value, descriptionControl.value)">Create advertisement</button>
          </div>                       
      </mat-step>

        <mat-step>
          <ng-template matStepLabel>Add few images</ng-template>
          <kendo-upload class = "k-icon.k-i-loading"
          [saveUrl]="saveurl"
          [removeUrl]="uploadRemoveUrl"
          [(ngModel)]="myFiles"
          [autoUpload]="false">
        </kendo-upload>
        </mat-step>

      </mat-vertical-stepper>
  </mat-card-content>
</mat-card> 