<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>New Advertisement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
                  <mat-vertical-stepper [linear]="true" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                      <ng-template matStepLabel>Choose your car manufacturer</ng-template>
                      <mat-form-field>
                        <mat-select placeholder="Car manufacturer" [formControl]="manufacturerControl">
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let manufacturer of manufacturersList  | async" [value]="manufacturer.manufacturerId">
                            {{manufacturer.manufacturerName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="manufacturerControl.hasError('required')">Please select a manufacturer</mat-error>
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperNext (click)="loadModels(manufacturerControl.value.manufacturerId, manufacturerControl.value.manufacturerName)">Next</button>
                      </div>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <ng-template matStepLabel>Choose your car model</ng-template>
                        <mat-form-field>
                          <mat-select placeholder="Car model" [formControl]="modelControl" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let model of manufacturerModels  | async" [value]="model">
                              {{model.carModelName}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="manufacturerControl.hasError('required')">Please select a model</mat-error>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext (click)="loadEngineType(modelControl.value.carModelId, modelControl.value.carModelName)">Next</button>
                        </div>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup">
                        <ng-template matStepLabel>Choose your car model</ng-template>
                        <mat-form-field>
                          <mat-select placeholder="Car model" [formControl]="modelControl" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let model of manufacturerModels  | async" [value]="model.carModelId">
                              {{model.carModelName}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="manufacturerControl.hasError('required')">Please select a model</mat-error>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext spellcheck="true">Next</button>
                        </div>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      You are now done.
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-vertical-stepper>
  </mat-card-content>
</mat-card> 